.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 20px;
}

.form-container label {
  font-size: 16px;
}

.form-container input[type="text"],
.form-container select {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid #42b883;
}

.form-container input[type="text"]::placeholder,
.form-container select::placeholder {
  font-style: italic;
  color: #999;
}

.form-container input[type="text"]:focus,
.form-container select:focus {
  outline: none;
  border-color: #42b883;
}

.form-container button[type="submit"] {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #42b883;
}

.form-container button[type="submit"]:hover {
  background-color: #2d7b5a;
}


button.addleague {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #42b883;
  margin: 20px;
}

button.addleague:hover {
  background-color: #333;
  color: #fff;
}
