.small-placeholder::placeholder {
  font-size: 14px;
}

.submitnewbutton {
  margin-top: 20px;
  margin-bottom: 50px;
  }

  .form-container {
    border: solid black 5px;
    margin: 50px;
  }

  button.addLeagueForm {
    display: block;
    margin: auto;
    margin-bottom: 40px;
  }

  .success-message {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  label {
    margin-top: 4px;
  }