.add-league-container {
  padding: 1rem;
  background-color: #f0f0f0;
  margin-bottom: 1rem;
}


.add-league-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-league-container input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
}

.add-league-container button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-league-container button:hover {
  background-color: #3e8e41;
}
