.league-search {
  padding: 16px;
  background-color: #42b883; /* soccer green color */
  color: #fff; /* white text */
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.search-container input[type="text"] {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #fff;
  font-size: 1.2rem;
  margin-right: 1rem;
  background-color: transparent;
  color: #fff;
}

.search-container input[type="text"]::placeholder {
  color: #fff;
}

.search-container button.searchbutton {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #42b883; /* soccer green color */
  margin-left: 1rem;
}

.search-container button.searchbutton:hover {
  background-color: #333; /* dark gray color */
  color: #fff;
}

.select-container select {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  background-color: #fff;
  border-radius: 0;
  appearance: none;
  color: #333; /* dark text color */
}

.select-container::after {
  content: "";
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5rem 0.5rem 0 0.5rem;
  border-color: #fff transparent transparent transparent;
  pointer-events: none;
}